body {
  font-family: 'Poppins', sans-serif;
  background: linear-gradient(to right, #2193b0, #6dd5ed);
  color: #fff;
  text-align: center;
  margin: 0;
  padding: 0;
}

.container {
  max-width: 500px;
  margin: 60px auto;
  background: rgba(255, 255, 255, 0.15);
  padding: 20px;
  border-radius: 10px;
  backdrop-filter: blur(10px);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1, h2 {
  color: #fff;
}

nav {
  text-align: center;
  margin-top: 10px;
}

.dashboard-btn {
  text-decoration: none;
  background: #ff7eb3;
  padding: 10px 20px;
  border-radius: 8px;
  color: white;
  font-weight: bold;
  transition: 0.3s;
}

.dashboard-btn:hover {
  background: #ff4f81;
}

.custom-file-upload {
  display: inline-block;
  padding: 10px 20px;
  background: #ffeb3b;
  color: #333;
  border-radius: 5px;
  cursor: pointer;
  font-weight: bold;
  transition: 0.3s;
}

.custom-file-upload:hover {
  background: #fdd835;
}

button {
  display: block;
  width: 100%;
  padding: 12px;
  border: none;
  border-radius: 5px;
  margin: 10px 0;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  transition: 0.3s;
}

#convert-btn {
  background: cyan;
  color: white;
}

#convert-btn:hover {
  background: cyan;
}

#delete-btn {
  background: #ff4444;
  color: white;
}

#delete-btn:hover {
  background: #cc0000;
}

.hidden {
  display: none;
}

#loading {
  font-style: italic;
  color: #fff;
}
h2{
  color: black;
}